.div-title  {
    color: rgb(0, 33, 68);
    font-family: "Georgia", Georgia, serif;
    font-weight: bold;
    text-align: center;
  }

.div1 {
    height: auto;
    padding: 10px;
    margin: 20px;
    color: rgb(0, 33, 68);
    background:white;
    border-style: double;
    border-color: rgb(0, 33, 68);;
  }

  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 33, 68);
    color: white;
    text-align: center;
  }

  hr { 
    border: 0; 
    border-bottom: 2px dashed #4cbb17; 
    background: rgb(0, 33, 68); 
  }

  .img-lg {
    width:500px;
    height:500px;
  }

  .img-med {
    width:400px;
    height:400px;
  }

  .img-sm {
    width:210px;
    height:210px;
  }

.navbar-brand-gv {
    background-color: rgb(0, 33, 68);
    font-size: 25pt; 
    font-weight: bolder;
    color: #4cbb17 ;
    font-family: "Georgia", Georgia, serif;
  }

  .navy  {
    color: rgb(0, 33, 68);
    font-family: "Georgia", Georgia, serif;
    font-weight: bold;
  }